[submodule ".themestale"]
	path = .themestale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
